.App{
text-align: center;
height: 100vh;
}

button{
  background: #1565c0;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 1rem;
  margin-top: 3rem;
  font-size: 1.2rem;
}